@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Montserrat/Montserrat-Regular.eot?") format("eot"),
       url("fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
       url("fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
       url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/Montserrat/Montserrat-Bold.eot?") format("eot"),
       url("fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
       url("fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
       url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
