<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="content" class="content"></div>
    <div id="map" class="map"></div>
  </body>
</html>
