// ----------------------------------------------------------------------------
// Fonts and colors
// ----------------------------------------------------------------------------

@import "fonts/index";

$white: #FFFFFF;
$light: #DDD;
$warning: #FF302B;
$success: #00F797;

// ----------------------------------------------------------------------------
// Minimal normalize
// ----------------------------------------------------------------------------

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ----------------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------------

body, html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: row;
}

.map {
  position: relative;
  height: 100vh;
  width: 100%;
}

.content {
  position: relative;
  width: 300pt;
  z-index: 1000; // leaflet is z-index 400;
  background: $white;
  padding: 2em .5em;
  border-right: 1px solid darken($light, 10);
  box-shadow: 10px 0 50px rgba(0, 0, 0, .2);
}

// ----------------------------------------------------------------------------
// List
// ----------------------------------------------------------------------------

// Match the look of the input field, with the list elements
.list li .name,
.list li .searchbox .input,
svg .name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15pt;
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  background: none;
}

.list {
  margin: 0;
  padding: 0;

  li {
    position: relative;
    list-style-type: none;
    padding: .8em 0;

    &:not(:last-child) {
      border-bottom: 1px dashed $light;
    }

    // Layout for the list items, and for the input
    &, .geosearch {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .geosearch .searchbox {
      width: 100%;
      overflow: hidden;
    }

    button {
      $size: 14pt;
      $margin: .8em;

      display: inline-block;
      width: $size;
      min-width: $size;
      height: $size;

      border-radius: $size;
      border: none;
      box-shadow: none;
      outline: none;

      text-align: center;

      font-family: 'Glyphicons';
      font-size: .5rem;
      color: $white;
      background: darken($light, 5);

      transition: .5s;

      &.remove {
        margin-right: $margin;
        &:hover {
          background: $warning;
        }
      }

      &.validate {
        margin-left: $margin;
        &:hover {
          background: $success;
        }
      }

      &:disabled {
        background: lighten($light, 10);
        pointer-events: none;
      }

      .label {
        display: none;
      }
    }
  }

}

// ----------------------------------------------------------------------------
// Adapt the style for the autocomplete drop-down
// ----------------------------------------------------------------------------

// remove google powered image
.pac-logo::after {
  background-image: none !important;
  height: 0;
}

.pac-item {
  padding: .2em 1em;

  .pac-icon {
    display: none;
  }

  // Match the font with the rest
  span {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13pt !important;
    font-family: "Montserrat";

    // Margin between city name, and country
    &:not(:last-child) {
      margin-right: .3em;
    }
  }
}
